<div>
	MAIN CANVAS VIEW
	<img class="arrowHead" src="images/leftArrow.png" style="width:60px;opacity:0.5;display:inline-block;margin-right:60px;position:fixed;top:25%;left:20px;" value="previous"/>
	<img class="arrowHead" src="images/rightArrow.png" style="width: 60px;opacity: 0.5;display:inline-block;position:fixed;top:25%;right:20px;" value="next"/>

	<img class="arrowBody" src="images/leftArrow.png" style="width: 60px;opacity: 0.5;display:inline-block;margin-right:60px;position:fixed;top:65%;left:20px;" value="previous"/>
	<img class="arrowBody" src="images/rightArrow.png" style="width: 60px;opacity: 0.5;display:inline-block;position:fixed;top:65%;right:20px;" value="next"/>

	<button class="downloadFiles">Download Print Files</button>
</div>